
.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.formGroup{ 
    width: 100%;
    font-size: 15px;
  
}
.field{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
   
}

.formField{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.fieldContent{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    

}
.fieldCover{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    
}

  .label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    
  }

  .RequesterBtn{
    border: none;
    outline: none;
    color: #fff;
    background-color: #1F59A9;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
  }
  .RequesterBtn:hover{
    background-color: blue;
  }
  /* input:focus{
    border: 2px solid red !important;
  } */
  .formInput{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
  }
  .card {
    
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
  }
  
 .stepper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    height: 130px;
    width: 100%;
 }
  .hr{
    display: flex;
    border: 1px solid #c5c5c5;
    width: 100%;
    
  }
  .docsCover{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    
}
.docsContent{
    
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    column-gap: 50px;
    

}
.formFieldAttachment{
    width: 100%;
    
}
.dropdownContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    
}
.dropdownLabel{
    cursor: pointer;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 900;

}
.dropdownContent{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
  
}
.dropdownField{
    width: 100%;
}
.userInput{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    cursor: pointer;
  }
.warningMessage{
    color: red;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #D1EFFF;
    border-radius: 10px;
  
}
.userLabel{
    font-weight: 900;
    margin-bottom: 30px;
    
}

.tableCover {
  margin: 20px 0;
  background-color: #ffffff; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;

}

.historyTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.historyTable  {

  padding: 8px;
  text-align: left;
}

.head {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 10px;
}
.data{
  padding: 10px;
}

.historyTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.historyTable tr:hover {
  background-color: #f1f1f1;
}
.checkboxContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkbox {
  margin-right: 10px;
 
}

.checkboxLabel {
  font-size: 18px;
  color: #333;
}
