
  
  .navIconClose {
    margin-left: 2rem;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 20px;
  }
  

 .sidebarContainer{
  transition:all 0.3s ;
  width: 250px;
  height: 100vh;
  align-items: center;
  transition: all 0.5s;
  top: 0;
  background-color: #EDF3FD;
 }

 
  .sidebarWrap {
    width: 100%;
  } 

  .sidebarItem:hover{
    background: #252831;
      border-left: 3px solid #632ce4;
      cursor: pointer;
      color: #f5f5f5;
  }
  