/* dashboard.module.css
/* .progressVerticaL {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } */
  
  .progressBar {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    transition: height 0.4s ease;
    text-orientation: mixed;
  }
  
  
  .progressBar.employees-document {
    background-color:#2379EA ;
  }
  
  .progressBar.departmental-benefit{
    background-color:#2379EA ;
  }
  
  .progressBar.offer-letter {
    background-color: #2379EA;
  }
  
  .progressBar.faculty-benefits {
    background-color: #2379EA;
    
  }
  
  .progressBar.students-benefits {
    background-color: #2379EA;
  }
  .progressBar.staff-benefits {
    background-color: #2379EA;
  }
  


  .progress-bar {
    width: 100% !important; /* Fill the width of the container */
    transition: height 0.5s ease; /* Smooth transition for height change */
  }
  
   .progressVertical {
    width: 100%;
    height: 100%;
    display: flex;
    
  }
  .progressContainer {
    display: flex;
    height: auto;
    align-items: flex-end !important;
    width: 100%;
    justify-content: center;
    padding-left: 50px;
    
  }
  
  .progressWrapper {
    display: flex;
    /* flex-direction: column; */
  
    height: 100%;
    width: 100%; /* Adjust width as needed */
    justify-content: center;
  }
  
  .progressVertical {
    width: 5px !important;
    height: 65% !important;
    display: inline-block;
    margin-right: 15px;
    padding: 0px;
    background-color: #d9d9d9;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
   
    
   
  }
  
  .progressVertical .progress-bar {
    width: 100% !important;
    height: var(--bs-progress-height, 1rem) !important;
    /* writing-mode: vertical-lr; */
   
  } 
  